<div class="container">
  <div class="name">
      <h1>Felix Pujols</h1>
      <h3>Web developer </h3>
  </div>
</div>

<div class="list1">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</li>
    <li><a href="#">contact</a></li>

  </ul>
</div><!--End container-->

<div class="titulo">
  <h1>Programming Languages</h1>
</div>

<section class="container1">
  <ul>

    <li class="one">
      <h2>Java</h2>
      <div class="line1"></div>
      <p>Java is a general-purpose computer-programming language that is concurrent,
         class-based, object-oriented, and specifically designed to have as few
         implementationdependencies as possible.
      </p>
    </li>

    <li class="two">
      <h2>HTML</h2>
      <div class="line2"></div>
      <p>Hypertext Markup Language is the standard markup
         language for creating web pages and web applications.
      </p>
    </li>

    <li class="three">
      <h2>Javascript</h2>
      <div class="line3"></div>
      <p>JavaScript, often abbreviated as JS, is a high-level,
        interpreted programming language.</p>
     </li>

  </ul>
</section> <!--End container1-->
