<div class="container">
  <img src="img/header.jpg" alt="Key board">
  <h1>Contact Us</h1>

</div>
</header>

<section class="description">
<h1>We'd love to hear from you</h1>
<p>Send us a message and we;ll respond as soon as possible</p>

</section>


<section class="container1">
  <section class="form">
    <h2>Drop us a line</h2>

    <form action="index.html">
      <input type="text" name="name" value="Name">
      <input type="text" name="email" value="Email">
      <textarea id="message" name="name" rows="8" cols="80"> Message</textarea>
      <input type="submit" name="send" value="Send">
    </form>
  </section>

  <section class="side">

    <img src="img/map.jpg" alt="">

    <p class="adress">2300 Southern Blvd, Bronx, NY 10460, USA</p>
    <p class="cel">Cel:  809-230-1846</p>
    <p class="email">Email: pujols.fr@gmail.com</p>

  </section>

</section>
