</section>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Felix Pujols. Webmaster </h1> <p class="lead">We make your code a reality </p>
      <a href="https://www.google.com/"> About me </a>
    </div> <!--/container-->
</div> <!-- /jumbotron -->
<!-- Three column Grid -->



        <div class="container">
          <div class="row">


              <div class="col-sm">
                <div class="box1">
                <h2>Course Goals</h2>
                <p>My course goals is to be a very good Web developer, having the needed copncepts to work as a freelancer. As a result, I will be able to travel and work at the same time. :) </p>
                <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
              </div><!-- /col -->
            </div>

            <div class="col-sm">
              <div class="box2">
              <h2>Project Goals</h2>
              <p>   My proyects goals is create an amazing and creative Portofolio.   </p>
              <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
              </div>
            </div><!-- /col -->

            <div class="col-sm">
              <div class="box3">

              <h2>Career Goals</h2>
              <p> My goals its become a Webmaster. Having the whole skills what I need to get it.  </p>
              <a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
            </div><!-- /col -->
            </div>
          </div>
      </div>
