<div class="container order-container">
  <div class="row">
    <div class="col-lg-8">
      <div class="order-description d-flex justify-content-around">
        <p class="order-product-title">Product name</p>
          <p>price</p>
          <p>ID</p>
      </div>
      <% @orders.each do |order| %>
        <div class="order-name-quantity d-flex justify-content-around">
          <p><%= link_to order.product.name, order %></p>
          <p>$<%= order.product.price %></p>
          <p>#<%= order.id %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
