.top-icon {
  width: 12px;
  margin-right: 8px;
}

.google-icon {
  width: 17px;
}

.contact-header {
  font-size: 13px;
  border-bottom: 1px solid #bfbfbf;
}

.socialnet-top p {
  display: inline;
}

.socialnet-top {
  display: flex;
  padding: 6px;
  padding-right: 0;
}

.margin-top-icon {
  justify-content: flex-end;
  padding-right: 35px;
}

.contact-icon {
  margin-left: 10px;
}

/*End contact-information-header*/
.icon-list span {
  padding-right: 15px;
  justify-content: center;
}

.icon-list {
  padding-left: 15px;
  display: flex;
  height: 25px;
  margin-top: 13px;
}

.form-horizontal label {
  background: #f5f5f5;
  border-radius: 25px 0px 0px 25px;
  color: #979797;
  padding: 10px 0px 0px 30px;
}

.input-style {
  padding-right: 5%;
  padding: 0;
}

.input-style input {
  width: 80%;
  float: left;
  padding: 10px 40px;
}

.submit-button-header {

}

.principal-logo {
  width: 150px;
}

.form-header {
  margin-top: 20px;
}

.form-header .col-8 img {
  margin: 0px 6px;
}

.glyphicon {
  background-color: green;
}

/* End top-form */
/* Nav */
.nav-link:hover {
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar-top li {
  color: #fff;
}

.navbar-top {
  background-color: #27ae60;
  color: #fff;
}

.nav-container {
  background: #27ae60;
}

.links-navbar .link_style {
  text-decoration: none;
  padding-right: 15px;
  font-size: 14px;
  color: #fff;
}

.list-container {
  display: inline-block;
  float: right;
  padding: 15px;
  padding-right: 0;
}

.dropdown p {
  color: #fff;
}

.dropdown {
  background: #239c56;
  padding: 15px 0px;
  text-align: center;
}

.drop-button {
  margin: 0;
}

.drop-icon-menu {
  padding-bottom: 2px;
  padding-right: 10px;
  width: 25px;
}

.drop-icon-arrow {
  padding-left: 18%;
}

.dropdown-menu {
  margin-top: 15px;
  width: 255px;
}

/*End header*/
/* Hidden header*/
.hidden_header ul {
  color: #000;
}

.navbar-brand {
  width: 120px;
  margin-left: 10%;
}

.navbar-toggler-icon {
  margin-right: 70px;
}

.hidden-icon-container {
  margin-right: 10px;
}

.hidden-icon-container .hidden-icon {
  width: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.hidden_header .show {
  box-shadow: 0px -11px 8px -12px #000;
  padding-right: 70px;
}

.hidden_header ul li {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 12px;
}

@media (max-width:576px) {
  .hidden-icon {
    display: none;
  }

  .navbar-toggler-icon {
    margin-right: 10px;
  }
}

.form-hidden {
  padding-left: 5%;
  padding-right: 5%;
}

.form-hidden label {
  background: #f5f5f5;
  border-radius: 25px 0px 0px 25px;
  color: #979797;
  margin: 0px;
  padding: 12px 0px 0px 30px;
  width: 30%;
}

.searh-arrow {
  width: 10px;
  float: right;
  margin-right: 10px;
  padding-top: 5px;
}
.input-group-append input {
  padding: 10px 0;
}
.form-hidden label span {
  font-size: 14px;
}

.form-hidden input {
  width: 50%;
  padding: 10px 40px;
  height: 50px;
}


/* end Hiden Header*/
/*Carousel*/
.control-carousel {
  padding: 5%;
  background: #000;
  opacity: 0.5;
}

.carousel-text button {
  padding: 3% 12%;
  background: #27ae60;
  border: none;
  color: #fff;
  float: left;
  font-size: 14px;
  border-radius: 5px;
}

.carousel-text button:hover {
  padding: 3% 12%;
  background: #323232;
  border: none;
  color: #fff;
  float: left;
  font-size: 14px;
  border-radius: 5px;
}

.index-carouse-image {
  width: 100%;
}

.index-carousel .carousel-caption {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.Carousel-title-1 {
  padding-bottom: 5%;
}

.Carousel-title-1 p {
  margin: 0;
  font-size: 6vw;
  font-weight: 700px;
  line-height: 95%;
}

@media (max-width: 768px) {
  .control-carousel {
    display: none;
  }

  .carousel-text button {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .carousel-text button {
    font-size: 8px;
  }
}

/*End Carousel*/
/* Index page */
.index-cont-1 {
  margin-top: 100px;
}

@media (max-width:993px) {
  .index-cont-1 {
    margin-top: 30px;
  }
}

.phone-footer .icon-border {
  border-left: 1px solid grey;
}

.img-chipping {
  border: 1px solid #27ae60;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin-right: 20px;
}

.img-chipping:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin-right: 20px;
}

.text-shipping h5 {
  font-size: 17px;
  line-height: 14px;
  color: #323232;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.text-shipping p {
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
  font-family: 'Poppins', sans-serif;
  color: #969696;
}

.shipping-content {
  display: inline;
  float: left;
}

.col-firstinfo {
  background: #fbfbfb;
  padding: 10px 15px;
  border-right: 10px solid #fff;
}

@media (max-width:993px) {
  .img-chipping {
    float: none;
    margin-bottom: 10px;
    margin: 15px auto;
  }

  .text-shipping {
    text-align: center;
  }

  .shipping-content {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}

@media (max-width:576px) {
  .col-firstinfo {
    margin-bottom: 20px;
  }
}

/* First index photo galery*/
.index-first-galery {
  margin-top: 90px;
}

.index-first-galery button {
  font-size: 1vw;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-top: 10%;
}

.cycling-image-1,
.cycling-image-2 {
  width: 100%;
  opacity: .9;
}

.cycling-image-3 {
  width: 100%;
}

.cycling-image-text-1 {
  position: absolute;
  color: #fff;
  top: 40px;
  left: 16px;
  line-height: 14px;
}

.galery-info-1 {
  position: relative;
  margin-bottom: 20px;
}

.galery-info-2 {
  position: relative;
}

.cycling-image-text-2 {
  position: absolute;
  color: #fff;
  top: 30px;
  margin-right: auto auto;
  width: 100%;
}

.box-cycling-text {
  display: inline;
  margin-left: auto;
  padding-right: 20px;
}

.galery-info-3 {
  position: relative;
  height: 600px;
}

.cycling-image-text-3 {
  position: absolute;
  color: #fff;
  top: 8px;
  left: 16px;
  margin-top: 20%;
}

.title-text-3 {
  font-size: 70px;
  font-weight: 400;
}

.cycling-image-text-3 h5,
.cycling-image-text-2 h5,
.cycling-image-text-1 h5 {
  font-size: 150%;
}

.cycling-image-text-3 p,
.cycling-image-text-2 p,
.cycling-image-text-1 p {
  font-size: 14px;
  margin: 0;
}

@media (min-width:992px) {
  #hidden_header {
    display: none;
  }
}

@media (max-width:992px) {

  #contact-header,
  #form-header,
  #nav-container {
    display: none;
  }

  .cycling-image-3 {
    margin: -21.875% 0;
  }

  .galery-info-3 {
    overflow: hidden;
    height: 284px;
  }

  .cycling-image-text-3 {
    margin-top: 40px;
    width: 300px;
  }

  .col-galery-1 {
    margin-bottom: 20px;
  }

  .index-first-galery button {
    font-size: 20px;
  }
}

@media (max-width:768px) {
  .index-first-galery button {
    font-size: 14px;
  }
}

@media (max-width:576px) {
  .index-first-galery button {
    font-size: 9px;
  }

  .cycling-image-text-3 h5,
  .cycling-image-text-2 h5,
  .cycling-image-text-1 h5 {
    font-size: 16px;
  }
}

/* End first gallery */
/*Parallax*/
.parallax {
  background-image: url("https://ciyashop.potenzaglobalsolutions.com/bicycle/wp-content/uploads/2018/01/bicycle-bg.jpg");
  min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.parallax-info {
  padding-top: 50px;
  padding-left: 50px;
}

.parallax-info button {
  background: #27ae60;
  font-size: 16px;
  color: #fff;
  padding: 10px 25px;
}

@media (max-width:992px) {
  .parallax {
    display: none;
  }
}

/* End parallax */
/* About page*/
.about-title {
  margin-top: 100px;
  width: 80%;
}

@media (max-width:768px) {
  .about-title {
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
}

.col-about-1 {
  display: flex;
  margin-top: 50px;
}

.img-about-1 {
  display: inline-block;
  margin-right: 15px;
}

.about-galery-text-1 {
  font-size: 14px;
  display: block;
}

@media (max-width:992px) {
  .col-about-1 {
    display: block;
  }

  .about-galery-text-1 {
    text-align: center;
  }

  .img-about-1 {
    margin-left: 40%;
    margin-bottom: 30px;
  }
}

/*End about page*/
/*index-galery-2*/
.nav-item {
  margin-right: 20px;
}

.item-color {
  color: #27ae60;
}

.index-galery-2-title {
  text-align: center;
  margin-bottom: 30px;
}

.nav-index-gallery .item-color {
  color: #27ae60;
}

.nav-index-gallery ul {
  list-style: none;
}

.nav-index-gallery li {
  display: inline;
  margin-right: 10px;
  font-size: 16px;
}

.index-galery-2-title p {
  margin: auto;
  width: 70%;
}

.index-galery-2 .row {
  margin-top: 30px;
}

.title-selling-image-1 h6 {
  font-size: 16px;
  margin-top: 10px;
}

.image-galery-2 img {
  width: 100%;
}

.image-galery-2 {
  text-align: center;
  border: 1px solid #f2f2f2;
}

.image-galery-2:hover {
  position: relative;
  -webkit-animation-name: box;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: box;
  animation-duration: 0.5s;
  text-align: center;
  border: 1px solid #f2f2f2;
  box-shadow: 0 12px 44px 0 rgba(236, 236, 236, 0.98);
  bottom: 4px;
}

@keyframes box {
  0% {
    bottom: 0px;
  }

  25% {
    bottom: 1px;
  }

  50% {
    bottom: 2px;
  }

  75% {
    bottom: 3px;
  }

  100% {
    bottom: 4px;
  }
}

@media (max-width:992px) {
  .index-galery-2-title p {
    width: 90%;
  }

  .index-galery-2-title h1 {
    margin-top: 20px;
  }
}

@media (max-width:768px) {
  .margin-image-2 {
    margin-top: 20px;
  }

  .hidden-row-sm {
    display: none;
  }
}

@media (max-width:576px) {
  .hidden-image-xs {
    display: none;
  }
}

/*End index-galery*/
/*contact-footer-info*/
.contact-footer-info {
  background: #141414;
  padding-top: 50px;
  padding-bottom: 50px;
}

.info-social-text p {
  padding-right: 20px;
}

.info-social-text {
  color: #b8b8b8;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

.fc-ft-icon img {
  width: 13px;
}

.fc-ft-icon {
  display: inline-block;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  padding: 7px 13px;
  margin-right: 5px;
}

.opening-title h3 {
  font-size: 25px;
  margin-top: 30px;
}

.opening-title {
  margin-bottom: 30px;
  color: #fff;
}

.opening-hours {
  color: #b8b8b8;
}

.text-adress {
  color: #b8b8b8;
}

.icon-adress-1 {
  padding-right: 10px;
}

.adress-info-footer h3 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
}

.footer-contact-input {
  width: 80%;
}

.footer-contact-input input {
  padding: 15px;
  font-size: 110%;
}

.btn-input-footer button {
  padding: 15px;
}

@media (max-width:576px) {
  .hidden-col-hours {
    display: none;
  }

  .adress-info-footer h3 {
    margin-top: 30px;
  }
}

/*End contact-footer-info*/




/*Contact page*/


.contact-content-description {
  margin-top: 60px;
  text-align: center;
  font-family: Poppins, sans-serif;

}

.contact-adress {
  border:10px solid  #f2f2f2;
  font-size: 14px;
  padding: 0 10px;
}

.contact-adress span {
  background: #27ae60;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  bottom: 40px;

}

.img-adrs-info {
  display: flex;
  justify-content: center;
}

.form-contact  .form-control{
 border:2px solid  #e6e6e6;
 font-family: Poppins, sans-serif;

}

.form-contact label {
  color:#c2c2c2;
  font-size: 16px;
}


.form-contact {
  margin-top: 60px;
}


.contact-description {
  margin-bottom: 40px;
}
.submit-contact-btn {
  font-size: 14px;
  padding: 20px 30px;
  border: none;
  margin-bottom: 40px;
}


.contact-description p{
  color:#c2c2c2;
}

@media (max-width:992px) {
.contact-adress {
  margin-bottom: 50px;
}

}
/*End contact page*/

/* Thanks */

.panel-body {
  margin-bottom: 500px;
  margin-top: 100px;
}

.panel-body p {
  width: 50%;
  font-family: Poppins, sans-serif;
  border: 1px solid #c2c2c2;
  margin: auto;
  text-align:center;
  padding: 30px;
}


/*End thanks*/

/* Footer */
footer {
  margin-top: 20px;
}

.footer-full-width .container span {
  margin-top: auto;
}

.footer-full-width {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: #908e8e;
  padding: 5px;
}

.credit-card {
  width: 35px;
  margin: 0 10px;
}

.card-icons {
  display: inline-block;
  float: right;
}

@media (max-width:576px) {
  .footer-full-width .container span {
    font-size: 14px;
  }
}

/* PRODUCTS PAGE*/
.header-products {
  align-items: center;
  color: #000;
}

.header-products button {
  border-radius: 4px;
  background-color: #27ae60;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
}

.header-image-info {
  margin: 40px 0;
  text-align: center;
  font-family: 'Noto Serif', serif;
}

@media (max-width:576px) {
  .header-image-info h1 {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
  }
}

.add-product-link:hover {
  text-decoration: none;
}

.product-content {
  margin-bottom: 30px;
  box-shadow: 0 0 2px #333;
  border-bottom: 2px solid #27ae60;
}

.horizontal-line-product {
  padding: 0px 15px;
}

.product-description {
  padding: 0 15px;
}

.cost-product {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 12px 44px 0 rgba(236, 236, 236, 0.98);
}

.cost-container {
  display: flex;
  justify-content: flex-end;
}

.image-product {
  width: 100%;
}

.image-product img {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.icon-product {
  position: absolute;
  width: 100%;
  height: 5;
  top: 5px;
  right: 0;
  display: flex;
}

.icons-product-container {
  margin-left: auto;
  margin-right: 20px;
}

.icon-product-1,
.icon-product-2,
.icon-product-3 {
  display: inline;
}

.icon-product-1 img,
.icon-product-2 img {
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 10px;
  background: #fff;
}

.icon-product-3 img {
  border-radius: 150px;
  border: 1px solid #fff;
  padding: 5px;
  background: #fff;
}

.icon-product-edit {
  position: relative;
}

.icon-product-1,
.icon-product-2 {
  margin-right: 4px;
}

.product-details {
  background: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 5px 15px;
  margin-top: 10px;
}

.product-details p {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.product-details h5 {
  font-family: 'Arbutus Slab', serif;
  margin: 0;
}

/*End products page*/
/* show-products-page*/
.product-title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Noto Serif', serif;
}

.show-product-page .list-group {
  list-style: none;
  margin-bottom: 20px;
}

.show-product-page .list-group li {
  margin-top: 10px;
  color: #000000;
}

.show-product-page .list-group li span{
  color: grey;
}


.show-product-page {
  margin-top: 50px;
}

.view-product-image {
  width: 100%;
  height: 400px;
}

.view-product-image img {
  width: 100%;
  height: 100%;
}

.show-description-name p {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: Poppins, sans-serif;

}



.show-description-cost p {
  padding-bottom: 5px;
  font-size: 26px;
  line-height: 32px;
  color: #27ae60;
  font-family: Poppins, sans-serif;

}

.bottom-buttons {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
  color: #999999;
}

.bottom-buttons a:hover {
  text-decoration: none;
  color: #999999;
}

.bottom-buttons .Edit-link, .Back-link {
  text-decoration: none;
  color: #999999;
}

.bottom-buttons span {
  color: #27ae60;
}

/*End show-products-page*/
/*form product*/
.edit-name-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
  outline: none;
  margin-bottom: 30px;
}

.submit-edit-button input {
  background-color: #27ae60;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
}

/*End form product*/
@media(max-width:992px) {
  .form-input-info {
    margin-top: 30px;
  }
}

/*Landing page*/
.landing-carousel {
  height: 350px;
  width: 500px;
  margin-bottom: 30px;
  margin: auto;
}

.landing-carousel img {
  width: 100%;
  height: 350px;
}

/*ENd landing-page */
.order-description .price-description {
  width: 200px;
}

.order-description {
  border: 1px solid grey;
  padding: 0 10px;
}

.order-description p {
  margin: 0;
}

.order-description .order-product-title {
  float: left;
}

.order-name-quantity {
  border: 1px solid grey;
  border-top: none;
}

.total-info {
  border: 1px solid grey;
  height: 300px;
}

.image-order img {
  width: 100px;
}

.landing-carousel .carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

/*Order page*/

/*End order*/


/* user-new page*/
.loginForm {
  margin: 70px auto;
  box-shadow: 0 12px 44px 0 rgba(236, 236, 236, 0.98);
  font-family: Poppins, sans-serif;

}

/* End user */



/* Typography */
.index-carousel .carousel-caption {
  font-family: 'Roboto', sans-serif;
}
