
<h1  class="product-title" align="center">Editing your product</h1>



<%= render 'form', product: @product %>

<div class="bottom-buttons">
  <%= link_to 'Show', @product,class: "Edit-link" %> <span>|</span>
  <%= link_to 'Back', products_path,class: "Edit-link" %>
</div>
